* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
}

main {
    margin-top: 40px;
    padding: 10px;
    height: 550px;
    width: 300px;
    background: #333;
    border-radius: 10px;
    display: grid;
    place-items: center;
    color: #fff;
}

#colorInformation {
    height: 40px;
    width: 80%;
    border: none;
    outline: none;
    outline: none;
    border-radius: 50px;
    text-align: center;
}

input[type="range"] {
    appearance: none;
    height: 10px;
    width: 260px;
    border-radius: 20px;
    outline: none;
}

input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    height: 5px;
    width: 5px;
    padding: 10px;
    background: black;
    border-radius: 50%;
    cursor: pointer;
}

.color-picker {
    position: relative;
}

.color-indicator {
    display: inline-block;
    width: 200px;
    height: 200px;
    background-color: #fff;
    border-radius: 50%;
    vertical-align: middle;
}

#color-picker {
    display: inline-block;
    vertical-align: middle;
}